
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 3rem;
    margin-top: 5rem;
}
p {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.centerH {
    display: flex;
    justify-content: center;
}
.centerV {
    align-items: center;
    height: 100vh;
}
img {
    max-width: 100%;
}
